In [2]:
import pandas as pd
import numpy as np

In [3]:
driver = pd.read_csv('raw_data/drivers.csv')
pitstop = pd.read_csv('raw_data/pit_stops.csv')
result = pd.read_csv ('raw_data/results.csv')

In [7]:
driver.describe()
driver
pitstop.describe()
result.describe()

,resultId,raceId,driverId,constructorId,grid,positionOrder,points,laps,statusId
count,25840.000000,25840.000000,25840.000000,25840.000000,25840.000000,25840.000000,25840.000000,25840.000000,25840.000000
mean,12921.334327,531.425813,261.732082,48.628328,11.179063,12.876006,1.877053,45.977515,17.568692
std,7460.682031,299.440908,268.623016,59.732131,7.243725,7.712391,4.169849,29.808951,26.155476
min,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000
25%,6460.750000,293.000000,56.000000,6.000000,5.000000,6.000000,0.000000,22.000000,1.000000
50%,12920.500000,514.000000,163.000000,25.000000,11.000000,12.000000,0.000000,52.000000,11.000000
75%,19380.250000,784.000000,360.000000,58.000000,17.000000,18.000000,2.000000,66.000000,14.000000
max,25845.000000,1096.000000,856.000000,214.000000,34.000000,39.000000,50.000000,200.000000,141.000000

In [15]:
pitstop_result = pd.merge(pitstop, result, on = ['driverId', 'raceId'], how = 'outer')
pitstop_result

,raceId,driverId,stop,lap,time_x,duration,milliseconds_x,resultId,constructorId,number,...,positionOrder,points,laps,time_y,milliseconds_y,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,841,153,1.0,1.0,17:05:23,26.898,26898.0,20789,5,19,...,11,0.0,57,\N,\N,41,10,1:30.467,211.025,11
1,841,153,2.0,17.0,17:31:06,24.463,24463.0,20789,5,19,...,11,0.0,57,\N,\N,41,10,1:30.467,211.025,11
2,841,153,3.0,35.0,17:59:45,26.348,26348.0,20789,5,19,...,11,0.0,57,\N,\N,41,10,1:30.467,211.025,11
3,841,30,1.0,1.0,17:05:52,25.021,25021.0,20797,131,7,...,19,0.0,19,\N,\N,13,21,1:35.319,200.283,4
4,841,30,2.0,17.0,17:32:08,23.988,23988.0,20797,131,7,...,19,0.0,19,\N,\N,13,21,1:35.319,200.283,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30768,1092,832,NaN,NaN,NaN,NaN,NaN,25764,6,55,...,19,0.0,0,\N,\N,\N,0,\N,\N,3
30769,1092,848,NaN,NaN,NaN,NaN,NaN,25765,3,23,...,20,0.0,0,\N,\N,\N,0,\N,\N,9
30770,1093,832,NaN,NaN,NaN,NaN,NaN,25785,6,55,...,20,0.0,1,\N,\N,\N,0,\N,\N,130
30771,1095,825,NaN,NaN,NaN,NaN,NaN,25824,210,20,...,19,0.0,0,\N,\N,\N,0,\N,\N,4
30772,1095,817,NaN,NaN,NaN,NaN,NaN,25825,1,3,...,20,0.0,0,\N,\N,\N,0,\N,\N,4

In [18]:
sum_pitstoptime_for_driverId = pitstop_result.groupby('driverId')['milliseconds_x'].sum()
print(sum_pitstoptime_for_driverId)

driverId
1      37834896.0
2        573333.0
3      12390412.0
4      29506206.0
5       2436258.0
          ...
852    15698319.0
853     8874014.0
854    12526155.0
855     2444524.0
856       24628.0
Name: milliseconds_x, Length: 855, dtype: float64

In [21]:
print(sum_pitstoptime_for_driverId.isnull().any())

False